{% extends "base.html" %}

{% block head %}
{{ css_link("index.css") }}
{% endblock %}

{% block content %}
<section class="container text-left">
  <h1>About Me</h1>

  <p>My name is Buck. I am Co-Founder and CTO of
  <a href="https://www.getcrossbeam.com">Crossbeam</a>, a new company on a
  mission to revolutionize the world of business partnerships. My previous gigs
  include running a software consultancy called The Buck Codes Here, working at
  <a href="https://rjmetrics.com">RJMetrics</a> as a Senior Software Engineer,
  and a few stints launching software products.</p>

  <p>Outside of work I am a husband and father of three. My preferred hobbies
  are learning the cello and piano, jiu jitsu, and listening to podcasts about
  economics and philosophy. <a href="/most-important-book.html">Anti-war</a>
  and libertarian / anarcho-capitalist.</p>

</section>
<section id="open-source">
  <div class="container">
    <h1>Open Source</h1>
    <div class="d-md-flex flex-row text-center projects-gallery">
      <div class="d-flex flex-column project">
        <a href="https://github.com/b-ryan/powerline-shell"><h3>powerline-shell</h3></a>
        <span>a popular (<span id="powerline-shell-star-count">3,800+</span>
          GitHub stars) shell prompt generator</span>
      </div>
      <div class="d-flex flex-column project">
        <a href="https://www.singer.io/"><h3>Singer</h3></a>
        <div>
          I have authored several Singer taps, like
          <ul>
            <li><a href="https://github.com/singer-io/tap-xero/">Xero</a></li>
            <li><a href="https://github.com/singer-io/tap-zendesk-chat/">Zendesk Chat / Zopim</a></li>
            <li><a href="https://github.com/singer-io/tap-jira/">Jira</a></li>
            <li><a href="https://github.com/singer-io/tap-codat/">Codat</a></li>
            <li><a href="https://github.com/singer-io/tap-listrak/">Listrak</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h1>Contact</h1>
  <p>I can be reached at buck@buckryan.com</p>
  <p>My PGP key can be found <a href="{{SITEURL}}/static/pgp.txt">here</a></p>
</section>

<section class="container">
  <p>Check out these sites I like:</p>
  <p>
  <a href="https://www.partnerbase.com">Partnerbase</a>
  | <a href="https://www.partner-manager.com">Partner Manager</a>
  | <a href="https://www.venn-diagram.com/">Venn Diagram</a>
  </p>
</section>
{% endblock %}

{% block js %}
<script>
$(function() {
  githubStars("b-ryan/powerline-shell", function(stars) {
    $("#powerline-shell-star-count").html(stars);
  });
})
</script>
{% endblock %}
